<script src="../js/MunicipioController.js"></script>
<style>
    .datepickerdemoBasicUsage {
        /** Demo styles for mdCalendar. */
    }

    .datepickerdemoBasicUsage md-content {
        padding-bottom: 200px;
    }

    .datepickerdemoBasicUsage .validation-messages {
        font-size: 12px;
        color: #dd2c00;
        margin-left: 15px;
    }
</style>

<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Estudiante</button>
    <button type="button" class="btn btn-default" ng-click="cancelar()">Listar Estudiantes</button>
</div>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Estudiantes</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Código
                </th>
                <th>
                    Documento
                </th>
                <th>
                    Fecha Nacimiento
                </th>
                <th>
                    Carrera
                </th>
                <th>
                    Municipio
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td class="row">{{row.nombre}}</td>
                <td class="row">{{row.apellido}}</td>
                <td class="row">{{row.codigo}}</td>
                <td class="row">{{row.documento}}</td>
                <td class="row">{{row.fecha | date:'dd-MM-yyyy'}}</td>
                <td class="row">{{row.carrera.nombre}}</td>
                <td class="row">{{row.municipio.nombre}}</td>
                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Estudiante</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.nombre ? 'error' : ''">
                    <label for="nombre">Nombre</label>
                    <input id="nombre"
                           class="form-control"
                           type="text"
                           ng-model="datosFormulario.nombre"
                           placeholder="nombre"/>
                    <div ng-show="errores.nombre">{{errores.nombre}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.idAseg ? 'error' : ''">
                    <label>Apellido</label>
                    <input id="apellido"
                           class="form-control"
                           type="text"
                           ng-model="datosFormulario.apellido"
                           placeholder="apellido"/>
                    <div ng-show="errores.apellido">{{errores.apellido}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3" ng-class="errores.idAseg ? 'error' : ''">
                    <label>Código</label>
                    <input id="codigo"
                           class="form-control"
                           type="number"
                           ng-model="datosFormulario.codigo"
                           placeholder="codigo"/>
                    <div ng-show="errores.codigo">{{errores.codigo}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3" ng-class="errores.idAseg ? 'error' : ''">
                    <label>Documento</label>
                    <input id="documento"
                           class="form-control"
                           type="number"
                           ng-model="datosFormulario.documento"
                           placeholder="documento"/>
                    <div ng-show="errores.documento">{{errores.documento}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.idAseg ? 'error' : ''">
                    <div layout-gt-xs="row">
                        <div flex-gt-xs>
                            <label>Fecha Nacimiento</label>
                            <div ng-show="errores.fecha">{{errores.fecha}}</div>
                            <md-datepicker ng-model="datosFormulario.fecha" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.idAseg ? 'error' : ''">
                    <label>municipio</label>
                    <select id="municipio" class="form-control"
                            ng-model="datosFormulario.municipio"
                            ng-options="option.nombre for option in listaMunicipio track by option.id">
                    </select>
                    <div ng-show="errores.municipio">{{errores.municipio}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.idAseg ? 'error' : ''">
                    <label>Carrera</label>
                    <select id="carrera" class="form-control"
                            ng-model="datosFormulario.carrera"
                            ng-options="option.nombre for option in listaCarrera track by option.id">
                    </select>
                    <div ng-show="errores.carrera">{{errores.carrera}}</div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

